.navbar-parent .navbar{
    background: #fff;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 3px 2px -2px rgba(200,200,200,0.2);
    padding-top: 0px;
    padding-bottom: 0px;
}
.navbar-parent .navbar-logo {
    height: 23px;
    position: relative;
    bottom: 3px;
}
.navbar-parent svg{
    height: 25px;
    margin-right: 5px;
    position: relative;
    bottom: 2px;
}
.navbar-parent .profile-image{
    height: 30px;
    width: 30px;
    border-radius: 100px;
    position: relative;
    /* margin-left: 20px;
    bottom: 4px; */
}
.navbar-parent .dropdown-toggle::after{
    display: none;
}
.navbar-parent .question-button:hover,.navbar-parent .btn.question-button:active{
    border: 1px solid #b92b27;
    background: #b92b27;
}
.navbar-parent .question-button{
    font-size: 14px;
    border-radius: 3px;
    padding: 3px 7px 4px 7px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid #b92b27;
    background: #b92b27;
}
.navbar-parent a,.navbar-parent a:hover{
    color: rgba(0, 0, 0, 0.5);  
    text-decoration: none;
}
.navbar-parent .navbar-light .navbar-nav .nav-link:hover{
    background-color: #fafafa;
}
.navbar-parent .navbar-light .navbar-nav .nav-link.active svg{
    color: #b92b27;
}
.navbar-parent .navbar-light .navbar-nav .nav-link.active{
    color: #b92b27;
    border-bottom: 2px solid #b92b27;
}
.navbar-parent .navbar-light .navbar-nav .nav-link {
    font-size: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
    color: #666;
    margin-left: 15px;
}
.inbox-modal-parent .modal-body{
    padding: 0px;
    min-height:80vh;
}
.inbox-modal-parent.modal.show .modal-dialog{
    max-width: 620px;
}

.mt70{
    margin-top: 90px;
}
.mt100{
    margin-top: 100px;
}

.topic-bar{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding-right: 47px; /* Increase/decrease this value for cross-browser compatibility */
    box-sizing: content-box; /* So the width will be 100% + 17px */
}
.left-stick{
    position: sticky !important;
    top: 70px;
    overflow: hidden;
    height: 600px;
}
.right-stick{
    position: sticky !important;
    top: 70px;
    overflow: hidden;
    height: 600px;
}

.navbar-parent .navbar-search{
    width: 300px;
}
.navbar-parent .search-list{
    display: none
}
.navbar-parent .search-list.active .modal-overlay{
    position: fixed;
    top: 51px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: rgba(0,0,0,0.65);
}
.navbar-parent .search-list.active li:hover{
    background-color: #ddd;
}
.navbar-parent .search-list.active li:hover{
    cursor: pointer;
}
.navbar-parent .search-list.active li{
    padding: 17px;
    border-bottom: 1px solid #ddd;
}
.navbar-parent .search-list.active li a{
    width: 100%;
}
.navbar-parent .search-list.active li .search-arrows{
    float: right;
    position: relative;
    top: 1px;
}
.navbar-parent .search-list.active{
    display: block;
    list-style-type: none;
    position: absolute;
    top: 55px;
    background-color: #fff;
    width: 98%;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 0px;
}
.navbar-parent .search-parent{
    position: relative;
}
canvas.chartjs-render-monitor {
    /* width: 46% !important; */
    margin-right: 24px;
    margin-left: 24px;
    height: 600px !important;
    float: left;
    margin-top: 52px;
    border: 1px solid #ddd;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}
.chart-super-parent{
    width: 70%;
    margin: auto;
    margin-bottom:50px;
    
}

body{
    background: #fafafa !important;
}
.ant-list-sm .ant-list-item:hover,.ant-list-header:hover,.ant-list-footer:hover{
    background-color: #dddddd;
    cursor: pointer;
    border-radius: 3px;
}
.ant-list-sm .ant-list-item a:hover,.ant-list-footer a,.ant-list-header a{
        text-decoration: none !important;
        color: #2b6dad;
        text-transform: capitalize;
    
}
.ant-list-sm .ant-list-item a,.ant-list-footer a{

    color: #818181;
    text-transform: capitalize;

}
.ant-list-footer svg,.ant-list-header svg,.ant-list-sm .ant-list-item svg{
position: relative;
bottom: 3px;
margin-right: 2px;
}
.ant-list-footer,.ant-list-header,.ant-list-sm .ant-list-item{
padding: 4px;
}

.main-div .feed-container .ant-spin-container>div{
   
    /* padding: 20px; */

}
.main-div .feed-container{
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: #fff;
   
    margin-bottom: 20px;

}
.main-div .ant-list-item.ant-list-item-no-flex{
    border: none;
    padding: 20px;
}
.ant-divider.ant-divider-horizontal.ant-divider-dashed{
    margin: 0px !important;
}
.main-div ,.feed-container .ant-list-item .ant-list-item-no-flex{
    padding: 0px;
}

.ant-list-item-meta-title{
    text-transform: capitalize
}
.main-div .feed-container .card-heading .ant-list-item-meta-title a{
    color: black;
}
.main-div .feed-container .card-heading .ant-list-item-meta-title{
    font-size: 20px;
    text-transform: capitalize;
    color: black;
}
.ant-list-item-action{
    margin-bottom: 0px;
    margin-top: 0px !important;
}
.ant-row.ant-form-item{
    margin-bottom: 3px;
}
span.ant-avatar.ant-avatar-circle.ant-avatar-image{
    position: relative;
    top: 10px;
}
.quill {
    margin: 0px 20px 5px 20px;
}
.quill .ql-snow{
border: 1px solid #ddd !important;
border-radius: 5px;
}
.btn-quora{
    margin: 10px 0px 0px 20px;
}
.answer-parent{
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
}
.main-div .feed-container .ant-spin-container>div {
    border-bottom: 1px solid #ddd;
    margin-top: 12px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    /* padding: 20px; */
}